{% extends 'base.html' %}
{% load static %}

{% block titulo %}Cadastro{% endblock %}

{% block content %}
<main>
    <section class="login-container">
        <article class='content-form-calendar'>
            <button class='btn-add-event' id="btn-add-event">Adicionar Evento</button>
            <div id="event-form-container" style="display: none;">
                <form id="event-form" method="POST">
                    {% csrf_token %}
                    <div class='form-group-cadastro'>
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="description">Descrição</label>
                        <input type="text" id="description" name="description" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="dateEvent">Data</label>
                        <input type="datetime-local" id="dateEvent" name="dateEvent" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="localization">Local</label>
                        <input type="text" id="localization" name="localization"><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="category">Categoria (Ex. Prova, Trabalho, Reunião...)</label>
                        <input type="text" id="category" name="category"><br>
                    </div>
                    <button type="submit" class='btn-login'>Salvar Evento</button>
                </form>
            </div>
            {% for event in events %}
                {{ event }} <br>
                title: '{{ event.title }}',<br>
                start: '{{ event.dateEvent|date:"Y-m-dTH:i:s" }}',<br>
                description: '{{ event.description }}',<br>
                location: '{{ event.localization }}',<br>
                category: '{{ event.category }}'<br><br>
            {% endfor %}
        </article>
        <article class='content-calendar'>
            <div id="calendar"></div>
            <script>
                var eventsData = [
                    {% for event in events %}
                    {
                        title: '{{ event.title|escapejs }}',
                        start: '{{ event.dateEvent|date:"Y-m-dTH:i:s" }}',
                        description: '{{ event.description|escapejs }}',
                        location: '{{ event.localization|escapejs }}',
                        category: '{{ event.category|escapejs }}'
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];
            </script>
            <script src="{% static 'js/script.js' %}"></script>
        </article>
    </section>
</main>
{% endblock %}
