{% extends 'base.html' %}
{% load static %}

{% block titulo %}Cadastro{% endblock %}

{% block content %}
<main>
    <section class="login-container">
        <article class='content-form-calendar'>
            <button class='btn-add-event' id="btn-add-event">Adicionar Evento</button>
            <button class='btn-edit-event' id="btn-edit-event">Editar Evento</button>
            <button class='btn-delete-event' id="btn-delete-event">Excluir Evento</button>
            <div id="event-form-container" style="display: none;">
                <form id="event-form" method="POST">
                    {% csrf_token %}
                    <div class='form-group-cadastro'>
                        <label for="title">Título</label>
                        <input type="text" id="title" name="title" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="description">Descrição</label>
                        <input type="text" id="description" name="description" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="dateEvent">Data</label>
                        <input type="datetime-local" id="dateEvent" name="dateEvent" required><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="localization">Local</label>
                        <input type="text" id="localization" name="localization"><br>
                    </div>
                    <div class='form-group-cadastro'>
                        <label for="category">Categoria (Ex. Prova, Trabalho, Reunião...)</label>
                        <input type="text" id="category" name="category"><br>
                    </div>
                    <button type="submit" class='btn-login'>Salvar Evento</button>
                </form>
            </div>

            <div id="list-events-edit" style='display:none;'>
                <div id="list-events-edit">
                    {% for event in events %}
                    <div class="event-item">
                        {{ event.title }} - {{ event.dateEvent }}
                        <button class="btn-edit" data-event-id="{{ event.pk }}">Editar</button>
                        
                        <!-- Formulário de edição (inicialmente oculto) -->
                        <form id="edit-form-{{ event.pk }}" class="edit-form" action="{% url 'calendar_diary:editar_evento' event.pk %}" method="POST" style="display: none;">
                            {% csrf_token %}
                            <input type="text" name="title" value="{{ event.title }}" required>
                            <input type="text" name="description" value="{{ event.description }}" required>
                            <input type="datetime-local" name="dateEvent" value="{{ event.dateEvent|date:'Y-m-d\\TH:i' }}" required>
                            <input type="text" name="localization" value="{{ event.localization }}" required>
                            <button type="submit">Salvar</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            
            
            

            <div id="list-events-delete" style='display:none;'>
                {% for event in events %}
                <div class="event-item">
                    {{ event.title }} - {{ event.dateEvent }}
                    <button class="btn-delete" data-event-id="{{ event.pk }}">Excluir</button>
                </div>
                {% endfor %}
            </div>
        </article>
        <article class='content-calendar'>
            <div id="calendar"></div>
            <script>
                var eventsData = [
                    {% for event in events %}
                    {
                        title: '{{ event.title|escapejs }}',
                        start: new Date('{{ event.dateEvent|date:"c" }}'),
                        description: '{{ event.description|escapejs }}',
                        location: '{{ event.localization|escapejs }}',
                        category: '{{ event.category|escapejs }}'
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];
            </script>
            <script src="{% static 'js/script.js' %}"></script>
        </article>
    </section>
</main>
{% endblock %}
