{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Cadastro
{% endblock %}

{% block content %}

<main>
    <div id="error-message" display="none">
        {% if erro %}
            <p class="error-login">{{ erro }}</p>
        {% endif %}
    </div>
    <section class="login-container">
        <article class="form-cadastro">
            <h2 class="title-cadastro">CADASTRE-SE</h2>
            <form action="{% url 'study_tracks:cadastro' %}" method="post" enctype="multipart/form-data" class="form-login">
                {% csrf_token %}
                
                <div class="form-group-cadastro">
                    <label for="username">Usuário</label>
                    <input type="text" id="usernameId" name="username" required>
                </div>
                <div class="form-group-cadastro">
                    <label for="email">E-mail</label>
                    <input type="email" id="emailId" name="email" required>
                </div>
                <div class="form-group-cadastro">
                    <label for="password">Senha</label>
                    <input type="password" id="passwordId" name="password" required>
                </div>
                <div class="form-group-cadastro">
                    <label for="profile_picture">Foto de Perfil</label>
                    <input type="file" id="profilePictureId" name="profile_picture">
                </div>
                <div class="form-group-cadastro">
                    <label for="date_of_birth">Data de Nascimento</label>
                    <input type="date" id="dobId" name="date_of_birth">
                </div>
                <div class="form-group-cadastro">
                    <label for="bio">Biografia/Descrição</label>
                    <textarea id="bioId" name="bio" rows="4"></textarea>
                </div>
                <div class="form-group-cadastro">
                    <label for="phone_number">Número de Telefone</label>
                    <input type="text" id="phoneId" name="phone_number">
                </div>
                <div class="form-group-cadastro">
                    <label for="security_questions">Perguntas de Segurança</label>
                    <select id="securityQuestionsId" name="security_questions" required>
                        <option value="question1">Pergunta 1</option>
                        <option value="question2">Pergunta 2</option>
                        <option value="question3">Pergunta 3</option>
                        <option value="question4">Pergunta 4</option>
                        <option value="question5">Pergunta 5</option>
                    </select>
                </div>
                <div class="form-group-cadastro">
                    <label for="response_security">Resposta da pergunta de segurança</label>
                    <input type="text" id="response_securityId" name="response_security">
                </div>
                
                <button type="submit" class="btn-login">CADASTRAR</button>
            </form>
        </article>

        <article class="login-image">
            <img id="main_img_cadastro" src="{% static 'images/imagem_principal.jpg' %}">
        </article>
    </section>
</main>

{% endblock %}
