<nav>

    <div class='content-navbar-title'>
        <h1 class='title-navbar'>STUDYTRACK</h1>
    </div>

    <input type="checkbox" id="menu-toggle" class="menu-toggle">

    <!-- Label atua como o botão do menu hamburger -->
    <label for="menu-toggle" class="menu-icon">
        &#9776; <!-- Ícone de menu hamburger -->
    </label>

    <div class='content-navbar'>
        <div class='item-navbar'>HOME</div>
        <div class="item-navbar">MEUS RELATÓRIOS</div>
        <div class="item-navbar">MEU CALENDÁRIO</div>
        <div class="item-navbar">TRILHA DE ESTUDOS</div>
        <div class="item-navbar">MATERIAL DE ESTUDOS</div>
        <div class="item-navbar">TESTES E SIMULADOS</div>
        <div class="item-navbar">MINHA ROTINA</div>
        <div class="item-navbar">MINHAS TAREFAS</div>
        <div class="item-navbar">LOGIN</div>
    </div>
</nav>