<nav>

    <div class='content-navbar-title'>
        <h1 class='title-navbar'>STUDYTRACK</h1>
    </div>

    <div class='content-navbar'>
        <div class='item-navbar'>
            HOME
        </div>
        <div class='item-navbar'>
            MEUS RELATÓRIOS
        </div>
        <div class='item-navbar'>
            MEU CALENDÁRIO
        </div>
        <div class='item-navbar'>
            TRILHA DE ESTUDOS
        </div>
        <div class='item-navbar'>
            MATERIAL DE ESTUDOS
        </div>
        <div class='item-navbar'>
            TESTES E SIMULADOS
        </div>
        <div class='item-navbar'>
            MINHA ROTINA
        </div>
        <div class='item-navbar'>
            MINHAS TAREFAS
        </div>
        <div class='item-navbar'>
            LOGIN
        </div>
    </div>
</nav>